<div class="flex-column-container">
    <h1>Welcome to Game Forms</h1>
    <div>
        <div>
            <button color="primary" mat-button><mat-icon>assignment</mat-icon>Next Work Item</button>
        </div>
        <div>
            <button [routerLink]="['q']" color="primary" mat-button><mat-icon>format_list_numbered</mat-icon>My Queue</button>
        </div>
        <div>
            <button color="primary" mat-button><mat-icon>chat</mat-icon>Chat</button>
        </div>
        <div>
            <button color="primary" mat-button><mat-icon>admin_panel_settings</mat-icon>App Administration</button>
        </div>
        <div>
            <button color="primary" mat-button><mat-icon>settings</mat-icon>App Settings</button>
        </div>
    </div>
</div>
